__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.git/
.gitignore
.gitattributes
.vscode/
.idea/
tests/
*.docx
*.pdf
*.md
.env
.env.*
deploy/
requirements-dev.txt
*.log
.DS_Store
file/**
!file/.gitkeep
