{# PWA + install hints. Expects url_path / static_url. #}
<link rel="icon" type="image/x-icon" href="{{ static_url('/static/favicon.ico') }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ static_url('/static/favicon.png') }}" />
<link rel="manifest" href="{{ url_path('/manifest.webmanifest') }}" />
<link rel="apple-touch-icon" href="{{ static_url('/static/icons/icon-192.png') }}" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="apple-mobile-web-app-title" content="工具集" />
